<div class="container">
    <div class="card">
        <form action="">
            <div class="nombres-persona">
                <div class="nombre">
                    <label>Nombre</label>
                    <input type="text" placeholder="Nombre">
                </div>
                <div class="apellido">
                    <label>Apellido</label>
                    <input type="text" placeholder="Apellido">
                </div>
            </div>
            <div class="datos-vivienda"></div>
            <div class="requistos"></div>

        </form>
    </div>
</div>
