.container{
    margin: 35px 25%;
}

.card{
    
    width: 100%;
    height: 400px;
    background-color: rgb(218, 155, 155);
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.nombres-persona{
    display: flex;

    
}