<app-header></app-header>

<div class="container-home">
    <div class="container-banner">
        <div class="container-slogan">
            <h1>Encuentrá o publica alojamiento en Cualquier parte del mundo</h1>
            <h2>Publicita tu espacio gratis</h2>
            <a class="btn-2" href="">Estoy Buscando</a>
            <a class="btn-1" href="">Quiero Alojar</a>
        </div>
        <div class="container-images">
            <img src="../../../../../assets/images/homes.jpg" alt="">
        </div>
    </div>

    <div class="latest-posts">
        <h1>Inmuebles Recientes</h1>
        <div class="container-post">
        </div>
    </div>
    
</div>