<div class="container">
    <div class="card">
      <div class="card-header">
        <img src="../../../../../assets/images/homes.jpg" alt="rover" />
      </div>

      <div class="card-body">
          <h2>Titulo</h2>
          <div class="gps">
            <i class="fas fa-map-marker-alt"><p>Ubicacion</p></i>
          </div>

          <div class="items-info">
              <div class="info-bet">
                <i class="fas fa-bath"><p>Baño(s)</p></i>
              </div>
              <div class="info-bath">
                <i class="fas fa-bed"><p>Habitacione(s)</p></i>
              </div>
              <div class="info-car">
                <i class="fas fa-car"><p>Garaje</p></i>
              </div>
          </div>

          <div class="footer-card">
              <div class="avatar">
                  <span>
                      <p>R</p>
                  </span>
              </div>
              <div class="button">
                    <a href="">Más Informacion</a>
              </div>
          </div>
      </div>

    </div>

    
</div>
   